<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost/db_promotion?autoReconnect=true</property>
		<property name="connection.username">root</property>
		<property name="connection.password"></property>
		<property name="connection.autoReconnect">true</property>
		<property name="connection.autoReconnectForPools">true</property>
		<property name="connection.is-connection-validation-required">true</property>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
		<property name="connection.pool_size">0</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="current_session_context_class">thread</property>
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<property name="format_sql">true</property>
		<property name="use_sql_comments">true</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">false</property>
		<property name="maxIdleTime">0</property>
		
		 <!-- configuration pool via c3p0-->
      	<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		
		<property name="hibernate.connection.CharSet">utf8</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.connection.useUnicode">true</property>
        
        <mapping resource="com/home/model/Promotion.hbm.xml" />
        <mapping resource="com/home/model/GroupCustomer.hbm.xml" />
         
        <mapping resource="com/home/model/Customer.hbm.xml" />
        <mapping resource="com/home/model/Statistic.hbm.xml" />
        <mapping resource="com/home/model/Category.hbm.xml" />
        <mapping resource="com/home/model/WorkingPlan.hbm.xml" />
        <mapping resource="com/home/model/User.hbm.xml" />
        <mapping resource="com/home/model/Uom.hbm.xml" />
        <mapping resource="com/home/model/Product.hbm.xml" />
        <mapping resource="com/home/model/PromotionGift.hbm.xml" />
        <mapping resource="com/home/model/Role.hbm.xml" />
        <mapping resource="com/home/model/PromotionProduct.hbm.xml" />
        <mapping resource="com/home/model/Gift.hbm.xml" />
        <mapping resource="com/home/model/PromotionRegister.hbm.xml" />
        <mapping resource="com/home/model/RegisterGift.hbm.xml" />
        <mapping resource="com/home/model/RegisterProduct.hbm.xml" />
        <mapping resource="com/home/model/InvoiceType.hbm.xml" />
        <mapping resource="com/home/model/Event.hbm.xml" />
        <mapping resource="com/home/model/EventsHistory.hbm.xml" />
        <mapping resource="com/home/model/EventsNote.hbm.xml" />
         <mapping resource="com/home/model/ContactType.hbm.xml" />
         <mapping resource="com/home/model/TimelineType.hbm.xml" />
    </session-factory>
</hibernate-configuration>
